{# template for each grocery item #}
{% for item in grocery_items %}
    <li>{{ item.name }}</li>
    <ul>
        <li>Price: {{ item.price }}</li>
        <li>Date start: {{ item.date_start }}</li>
        <li>Date end: {{ item.date_end }}</li>
        <li>Quantity: {{ item.quantity }}</li>
        <li>Price per unit: {{ item.price_per_unit }}</li>
        <li>Image: {{ item.image }}</li>
        {# Show image of the item #}
        <img src="{{ item.image }}" alt="{{ item.name }}" width="100" height="100">
    </ul>

{% endfor %}
