{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {# for bootstrap5 #}
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

    {# for fontawesome icons #}
    <link
            href="{% static 'fontawesomefree/css/fontawesome.css' %}"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="{% static 'fontawesomefree/css/brands.css' %}"
            rel="stylesheet"
            type="text/css"
    />
    <link
            href="{% static 'fontawesomefree/css/solid.css' %}"
            rel="stylesheet"
            type="text/css"
    />

    {# to change bootstrap default theme #}
    <link rel="stylesheet" type="text/css" href="{% url 'colors' %}"/>

    {# load custom css    #}
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <title></title>
</head>
<body>

{# Navbar #}

<div class="container">
    <div class="p-3"></div>
    <h1>Sunny Side Savings</h1>

    <button><i class="fa-solid fa-cart-shopping"></i></button>
    <button><i class="fa-solid fa-plus"></i></button>

    {# adding space padding #}
    <div class="p-3"></div>

    {# search bar #}
    <form class="d-flex">
        <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
        {% block content %}{% endblock %}
    </form>
</div>
</body>
</html>
