
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
</head>
<body>

<div class="container">
<h1>My Site</h1>

{% block content %}{% endblock %}
</div>
</body>
</html>    <link
    {% comment %} for bootstrap5 {% endcomment %}
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}

    {% comment %} for fontawesome icons {% endcomment %}
    <link
      href="{% static 'fontawesomefree/css/fontawesome.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/brands.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="{% static 'fontawesomefree/css/solid.css' %}"
      rel="stylesheet"
      type="text/css"
    />

    {% comment %} to change bootstrap default theme {% endcomment %}
    {% comment %} <link rel="stylesheet" type="text/css" href="{% url 'colors' %}"> {% endcomment %}

    {% comment %} load custom css {% endcomment %}
    <link rel="stylesheet" href="{% static 'style.css' %}">  

      <button><i class="fa-solid fa-cart-shopping"></i></button>
      <button><i class="fa-solid fa-plus"></i></button>
        <button class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
